	<header id="overview" class="jumbotron subhead">
	    <div class="subnav subnav-fixed">
	      <ul class="nav nav-pills">
	      	<li class=""><%= link_to 'Show Details', @user %></li>
	        <li class=""><%= link_to 'Edit Details', edit_user_path(@user) %></li>
	        <li class="active"><a href="/users/<%=@user.id%>/changePassword">Change Password</a></li>
	      </ul>
	    </div>
	</header>
	
<h1>Change Password</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>	
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Change Password' %>
  </div>
<% end %>
